 

*{
    margin : 0px;
    padding : 0px;
    font-family: 'Poppins', sans-serif;
}

.body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.pos ul {
    display: flex;

    justify-content:space-around;
    align-items:start;
    list-style-type: none;
    

    background-color:whitesmoke;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding: 40px;
    border-bottom: solid 1px black;
    


}


  .pos  {
    position: sticky;
    top: 0;
    z-index:1;
    
}

.body ul li h4{
    color: #E0E0E0;
     
}

.body ul  button {
    color:white;
    border-color:#FCC822;
    Width:77.8px;
    Height:32.51px;
    
    
}
.body ul :hover{
    color:black;
}

.str h1{
    width:290px;
    position: relative;
    left:250px;
    margin-top: 60px;
    font-weight:bold;
}
.str h4{
    width:600px;
    position: relative;
    left: 250px;
    margin-top: 40px;
}

.str>button{
    width: 120px;
    margin-top: 60px;
    position: relative;
    left: 250px;
    height: 45px;
    background-color: #FCC822;
    color: white;
    border: none;
}
.str>button:hover{
    color: blueviolet;
}
  .img{
    display: flex;
   
    
}
.img div:nth-child(2){
     margin-left: 500px;
    margin-top: 200px; 
    
}


 .third{
    Width:100%;
   

   font-family: Poppins;
font-size: 40px;
font-weight: 400;

letter-spacing: 0em;
text-align: left;
position: relative;
left:0px;
margin-top:30px;
color: white;
background-color:#FCC822;
padding:20px;
 }

 .sec div{
    display: inline-block;
    justify-content: space-evenly;
    width: 150px;
    height: 84px;
    background-color:grey;
    margin-inline: 100px;
    margin-top: 100px;
    padding: 32px;
    box-sizing: border-box;
    color:white
 }

 .sec div:nth-child(1){
    background-color: #FCC822;
    
 }
   
 .sco{
    box-sizing: border-box;
    width:fit-content;
    height: fit-content;
    background-color: #FCC822;
     padding-inline: 40px;
     box-sizing: border-box;
     color: white;
     position: relative;
     left: 607px;
     margin-top:100px;
     
 }

 .prev>div{
    display: inline-block;
padding: 8.128px 15.095px;


 }

 .prev div:first-child{
    background: linear-gradient(95deg, #D1D1D1 0%, #D1D1D1 100%);
  box-shadow: 0px 5.806px 23.223px -6.967px #D1D1D1;
  width: fit-content;
  margin-left: 100px;
 }

.prev div:nth-child(2){
    background: linear-gradient(95deg, #FCC822 0%, #FFCD2E 100%);
box-shadow: 0px 5.806px 23.223px -6.967px #FBE18F;
width: fit-content;
margin-left: 1000px;
margin-top: 50px;

}

.prev div:nth-child(3){
    width: 29.609px;
    height: 20.9px;
}
 